{% extends '_layout.html' %}

{% block content %}

{% block head_css %}
<!--<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">-->
{% endblock %}

<form id='productsform' class="form-horizontal">
    <fieldset>

        <!-- Text input-->
        <div class="form-group">
            <div class="col-md-4">
                <input id="inputProduct" name="inputProduct" type="text" placeholder="Enter product to search for" class="form-control">
            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="singlebutton"></label>
            <div class="col-md-4">
                <input id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit" value="Search" />
            </div>
        </div>

    </fieldset>
</form>

<table id='listProducts' class='table'>
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Image</th>
        </tr>
    </thead>
</table>

{% block tail_js %}
    {{ super() }}
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="{{url_for('static',filename='js/products.js')}}"></script>
{% endblock %}

{% endblock %}
